@charset "UTF-8";
.form {
    margin: 2rem 0;
    .form__legend {
        font-size: 2em;
        font-weight: 700;
    }
    .form__label {
        display: inline-block;
        margin: 15px 0;
    }
    .form__input {
        font-size: 1em;
        padding: 15px 10px;
        width: 100%;
        border: none;
        outline: none;
        background-color: $clr-netrual;
    }
    .form__textarea {
        display: block;
        width: 100%;
        border: none;
        outline: none;
        background-color: $clr-netrual;
        font-family: $fnt-general;
        font-size: 1em;
        line-height: .5cm;
        padding: 10px;
    }
}